<%= render "shared/header" %>
<% if params[:q].present? %>
  <% if @items.empty? %>
    <p>該当する商品が見つかりませんでした。</p>
  <% else %>
    <h2>検索結果</h2>
    <ul class="item-list">
      <% @items.each do |item| %>
        <li class="item">
          <% if item.image.attached? %>
            <%= image_tag item.image, class: "item-image" %>
          <% else %>
            <%= image_tag "no_image.png", class: "item-image" %> <!-- 代替画像を表示 -->
          <% end %>
          <div class="item-details">
            <%= link_to item.name, item_path(item), class: 'item-name' %><br>
            <%= item.description %><br>
            ￥<%= number_to_currency(item.price, unit: '', format: "%n") %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>検索クエリがありません。条件を入力してください。</p>
<% end %>

<%= render "shared/footer" %>
